.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-content-border{

    border-top: 1px ridge;

}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-color: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.modal .modal-header {
    background-color: #512DA8;
    color: floralwhite; }
    .modal .modal-header button {
      color: floralwhite; }
  
.modal .modal-body {
    background: #D1C4E9; }
    
.modal-footer{
    background: #D1C4E9; 
}

